In [ ]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

#for text pre-processing
import re, string
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import SnowballStemmer
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

#for model-building
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report, f1_score, accuracy_score, confusion_matrix
from sklearn.metrics import roc_curve, auc, roc_auc_score

# bag of words
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

#for word embedding
import gensim
from gensim.models import Word2Vec

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

In [ ]:
data = pd.read_csv('Data.csv',sep=",", encoding='cp1252')

In [ ]:
data.isna().sum()

S.No             0
organization     0
Category        74
text             0
dtype: int64

In [ ]:
data

,S.No,organization,Category,text
0,1,PeopleSoft,NaN,Anubhav Kumar Singh \n\n To work in a global...
1,2,PeopleSoft,NaN,Profile Summary: \n?7+ years of exper...
2,3,PeopleSoft,NaN,PeopleSoft Database Administrator\n ...
3,4,PeopleSoft,NaN,Murali\n\nExperience Summary \n\nI have 6 year...
4,5,PeopleSoft,NaN,"Priyanka Ramadoss\n61/46, MountPleasant, \nCoo..."
...,...,...,...,...
69,70,WorkDay,NaN,Workday Integration Consultant\n\nName ...
70,71,WorkDay,NaN,Seeking suitable positions in Workday HCM as ...
71,72,WorkDay,NaN,WORKDAY | HCM | FCM\nName : Kumar S.S\nRole ...
72,73,WorkDay,NaN,Venkateswarlu.B Workday Consultant ...
73,74,WorkDay,NaN,Vinay kumar .v\nWorkday Functional Consultant\...

In [ ]:
data['text'][55]

"Hari Krishna M\n\n\nSummary:\n?A result oriented professional with 6.10 yrs. of experience in Software Engineering with 3.10 yrs. of relevant experience in Workday Consultant.\n?Exceptional ability in understanding the business needs and improving the process.\n?Excellent communication skills and proven experience in working independently as well as in a team.\n?Involved in preparing business requirement documents and analysis of client functional requirements.\n?Extensive knowledge on Complete Tenant configurations – (Supervisory Organizations, Roles, Compensation, Business Processes)\n?Configuration of Supervisory Organizations, Job Profiles & Positions, Compensation (salary plans based on different grades, grade profiles and allowances), Security and Business Processes.\n?Day to day support of\xa0Workday\xa0HCM, Security, Compensation, reporting issues and implementing enhancements when needed.\n?Created Custom Reports and scheduled reports as requested by end-users.\n?Worked on modifying/troubleshooting/enhancing existing custom reports using Calculated Fields.\n?Created and used calculated fields in reporting, business processes, and integrations within\xa0Workday.\xa0\n?Experience in performing HCM tasks like defining Job Profiles, position creations, employee hiring, transfers, promotions, demotions and terminations etc., as part of Workday Testing requirements.\n?Understanding and careful analysis of the Internal HR team requirements.\n?Setting up the Email notifications and Business Process configurations.\n?Excellent object management skills in\xa0Workday\xa0like configuring Supervisory/Matrix Organizations (Divide organizations, Inactivate Organizations, create subordinates).\n?Extensive knowledge on other HCM Org structures like Custom Organizations and Service Center Organizations.\n?Experience in creating Job Profiles, Job Families and Job Family Groups, also worked with the creation and maintenance of position and job staffing models.\n?Experienced in\xa0WORKDAY\xa0security related to creating and assigning Users / Roles Permissions.\n?Involved in\xa0Workday\xa0HCM for various HR modules such as Compensation, Time Tracking, Security and Absence Management.\n?Excellent interpersonal skills with a strong desire to achieve specified goals. \n?Support the team with product backlog grooming activities\n?A valuable team player with capability to share the team vision and achieve goals and deadlines\nWork Experience:\n?Working as Workday Consultant at CTS from Mar- 2019 To till date (Parent Company- Riosoft Technologies)\n?Worked as Workday Developer for TCS from Aug- 2014 To Feb 2019\n\nEducation:\nMCA from JNTU University, Kakinada in 2013.\n\nTechnical Skills:\nERP Systems Workday, PeopleSoft\nWorkday Modules Core HCM, Compensation, Benefits and Absence management.\nWorkday Skills Integrations-EIB, Studio, Reports, Calculated Fields, Business Processes, Dashboards.\nDatabase Technologies Oracle 10g,11i\nOperating Systems MS-DOS, Windows XP/ 7, Windows Server 2008, UNIX\n\nProfessional Background:\nProject#1\nNCR – Workday Implementation/Enhancements                                                 Mar 2019 –Till Date\nNCR Corporation                                                                                      Mar 2019 -Till Date\nDescription:\nThe\xa0NCR Corporation\xa0(formerly\xa0National Cash Register) is US-Based computer hardware, software and Electronics Company that provides products and services that enable businesses to connect interact and transact with their customers. Its main products are self-service kiosks,\xa0point-of-sale terminals,\xa0automated teller machines,\xa0check\xa0processing systems,\xa0barcode scanners, and business consumables. They also provide IT maintenance support services.\n\nRoles &Responsibilities\n?Understanding and analyzing the Business Requirements by studying the Functional Documents.\n?Responsible for data migration from legacy system to workday using EIB.\n?Worked with workday studio to fix integration related issues.\n?Built many Enterprise interface builders (EIB’s) on inbound and core connector worker and benefits On outbound’s\n?Create the new workday studio programs to sending AI-Statement to worker documents using BIRT layout.\n?Creating the custom reports as per the client requirement and preparing the UTP documents.\n?Created Workday Studio inbound studio programs to load compensation information from ADP to workday.\n?Hands-on experience In Migrating the XSLT Code, Reports from Lower tenet to Sandbox and Production using Object Transporter. \n?Created EIB Inbound Integrations for loading the employees personal Information like, Emergency contacts, Compensation, One-time payments, Bank account information, cost center information.\n?Created EIB outbound Integrations, written XSLT code and sending data from workday to downstream systems.\n?Hands-on experience in creating the calculated fields using different functions for complete logics. \n?Supporting the Different teams in UAT phase as well as with test factory teams during integration testing phase.\n?Involved in calls with client and update the work status as well as clarifications if any.\nEnvironment: Workday HCM, Workday Studio, XML, Web Services, XSLT 2.0, Report Writer.\n\n\n\nProject#2:\nTCS                                                                               Aug 2017 – Feb 2019\nToyota    \nDescription:\nToyota Motor Corporation, usually shortened to Toyota, is a Japanese multinational automotive manufacturer headquartered in Toyota, Aichi, Japan. In 2017, Toyota's corporate structure consisted of 364,445 employees worldwide and, as of September 2018, was the sixth-largest company in the world by revenue. As of 2017, Toyota is the world's second-largest automotive manufacturer. Toyota was the world's first automobile manufacturer to produce more than 10 million vehicles per year which it has done since 2012, when it also reported the production of its 200-millionth vehicle. As of July\xa02014, Toyota was the largest listed company in Japan by revenue.\nRoles &Responsibilities:\n?Experienced to work with\xa0Workday\xa0Report Writer and creating custom integrations with third party applications using Workday Core Connector and Enterprise Interface Builder (EIB).\n?Knowledge of Domain, Role and User based security.\n?Using sequence generators, generating templates and validating inbound integration system results.\n?Created new integration to pull the new hires information using Core Connector Worker and Document Transformation which uses connector integrations XML Output as its data source input.\n?Creating the new business processes and notifications in deployment and sandbox tenants based on the designed business flow diagrams.\n?Developed Several Complex Integrations using Workday Studio and EIB.\n?Created test data and executed Test cases for System testing. Created test scenarios and test cases and coordinated the testing\xa0effort with all the stakeholders for System and UAT.\n?Day to day support of Workday HCM, Security, Payroll, Benefits, Compensation and Reporting issues\n?Involved in the design phase and prototyping for further discussions with the client.\n?Experienced to work with\xa0Workday\xa0Report Writer and BIRT tool and creating custom integrations with third party applications using Workday Cloud Connect and Enterprise Interface Builder (EIB).\n?Created and used calculated fields in reporting, business processes, integrations and other areas within Workday.\nEnvironment: Workday HCM, Core Connecters, Absent management, Workday Studio, XML, XSLT, Xpath, Oxygen XML.\n\nProject#3\nCatamaran, Schaumburg, IL USA\nCatamaran Rx                                                                               Aug 2014 –Jul 2017 \nRoles&Responsibilities:\n?Lead day-to-day operations of the PeopleSoft Technical teams (including Off-Shore) with business assignments, technical development, support, and issue resolution\n?Technical Lead for FY14 Compensation, Pharma Spin-off from PeopleSoft HCM system, eV3 applicant conversion into PeopleSoft and Resume Parsing integration with PeopleSoft\n?Ensure project team follows methodology selected for projects and produces quality deliverables\n?Participated in the design effort by assisting in the development of design specifications applying business expertise and best business practices.\n?Highly experienced with PeopleSoft Manager Self Service & Employee Self Service applications\n\nEnvironment:PeopleSoft HCM 9.1, People Tools 8.51, Oracle 11i"

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer(max_df=0.8, min_df=2, stop_words='english')
doc_term_matrix = count_vect.fit_transform(data['text'].values.astype('U'))

In [ ]:
doc_term_matrix

<74x2161 sparse matrix of type '<class 'numpy.int64'>'
	with 16785 stored elements in Compressed Sparse Row format>

In [ ]:
from sklearn.decomposition import LatentDirichletAllocation

LDA = LatentDirichletAllocation(n_components=5, random_state=42)
LDA.fit(doc_term_matrix)

LatentDirichletAllocation(n_components=5, random_state=42)

In [ ]:
import random

for i in range(10):
    random_id = random.randint(0,len(count_vect.get_feature_names()))
    print(count_vect.get_feature_names()[random_id])

movements
multiple
mentor
https
involved
budget
bachelors
27
pub
edge

In [ ]:
first_topic = LDA.components_[0]

In [ ]:
top_topic_words = first_topic.argsort()[-10:]
top_topic_words

array([1539,  404, 1961,  897,  853,  734, 1984, 1413, 1411,  197])

In [ ]:
for i in top_topic_words:
    print(count_vect.get_feature_names()[i])

ps
code
testing
good
fscm
engine
tools
peoplesoft
people
application

In [ ]:
for i,topic in enumerate(LDA.components_):
    print(f'Top 10 words for topic #{i}:')
    print([count_vect.get_feature_names()[i] for i in topic.argsort()[-10:]])
    print('\n')

Top 10 words for topic #0:
['ps', 'code', 'testing', 'good', 'fscm', 'engine', 'tools', 'peoplesoft', 'people', 'application']


Top 10 words for topic #1:
['queries', 'developer', 'functions', 'development', 'database', 'team', 'services', 'server', 'data', 'sql']


Top 10 words for topic #2:
['scheduler', 'domains', 'oracle', 'web', 'process', 'servers', 'database', 'server', 'application', 'peoplesoft']


Top 10 words for topic #3:
['custom', 'report', 'hcm', 'core', 'worked', 'eib', 'reports', 'integrations', 'business', 'workday']


Top 10 words for topic #4:
['bootstrap', 'technologies', 'css3', 'developer', 'html', 'ui', 'javascript', 'web', 'js', 'react']

In [ ]:
topic_values = LDA.transform(doc_term_matrix)
topic_values.shape

(74, 5)

In [ ]:
data['Topic'] = topic_values.argmax(axis=1)

In [ ]:
data.head(15)

,S.No,organization,Category,text,Topic
0,1,PeopleSoft,NaN,Anubhav Kumar Singh \n\n To work in a global...,2
1,2,PeopleSoft,NaN,Profile Summary: \n?7+ years of exper...,2
2,3,PeopleSoft,NaN,PeopleSoft Database Administrator\n ...,2
3,4,PeopleSoft,NaN,Murali\n\nExperience Summary \n\nI have 6 year...,2
4,5,PeopleSoft,NaN,"Priyanka Ramadoss\n61/46, MountPleasant, \nCoo...",2
5,6,PeopleSoft,NaN,PROFILE SUMMARY\n\nI have overall 6.8 years’ e...,2
6,7,PeopleSoft,NaN,PEOPLESOFT Administrator\n\n\nSRINIVAS.K ...,2
7,8,PeopleSoft,NaN,PeopleSoft Admin\nVARKALA VIKAS\n\nCareer Obj...,2
8,9,PeopleSoft,NaN,Vinod Akkala ...,2
9,10,PeopleSoft,NaN,PeopleSoft Admin/PeopleSoft DBA\n\nGanesh...,2
10,11,PeopleSoft,NaN,PeopleSoft Administration\n \nVivekanand Sayan...,2
11,12,PeopleSoft,NaN,Arun Venu\n\n EXPERIENCE SUMMARY \n\n?Experie...,1
12,13,PeopleSoft,NaN,Personal Details \nName Pritam Biswas\nDate O...,1
13,14,PeopleSoft,NaN,Rahul Ahuja\n---------------------------------...,1
14,15,PeopleSoft,NaN,\nPROFESSIONAL SUMMARY\nHaving 4.6 years of ex...,0

# NMF for Topic Modeling

In [ ]:
import pandas as pd
import numpy as np

data = pd.read_csv('Data.csv',sep=",", encoding='cp1252')
data = data.head()
data.dropna()
data

,S.No,organization,Category,text
0,1,PeopleSoft,NaN,Anubhav Kumar Singh \n\n To work in a global...
1,2,PeopleSoft,NaN,Profile Summary: \n?7+ years of exper...
2,3,PeopleSoft,NaN,PeopleSoft Database Administrator\n ...
3,4,PeopleSoft,NaN,Murali\n\nExperience Summary \n\nI have 6 year...
4,5,PeopleSoft,NaN,"Priyanka Ramadoss\n61/46, MountPleasant, \nCoo..."

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vect = TfidfVectorizer(max_df=0.8, min_df=2, stop_words='english')
doc_term_matrix = tfidf_vect.fit_transform(data['text'].values.astype('U'))

In [ ]:
from sklearn.decomposition import NMF

nmf = NMF(n_components=5, random_state=42)
nmf.fit(doc_term_matrix )

NMF(n_components=5, random_state=42)

In [ ]:
import random

for i in range(10):
    random_id = random.randint(0,len(tfidf_vect.get_feature_names()))
    print(tfidf_vect.get_feature_names()[random_id])

latest
designer
elm
installing
pvt
challenging
files
having
linux
tier

In [ ]:
first_topic = nmf.components_[0]
top_topic_words = first_topic.argsort()[-10:]

In [ ]:
for i in top_topic_words:
    print(tfidf_vect.get_feature_names()[i])

administrator
multiple
management
taking
professional
sql
installed
dba
configured
oracle

In [ ]:
for i,topic in enumerate(nmf.components_):
    print(f'Top 10 words for topic #{i}:')
    print([tfidf_vect.get_feature_names()[i] for i in topic.argsort()[-10:]])
    print('\n')

Top 10 words for topic #0:
['administrator', 'multiple', 'management', 'taking', 'professional', 'sql', 'installed', 'dba', 'configured', 'oracle']


Top 10 words for topic #1:
['monitoring', 'batch', 'worked', 'control', 'management', 'services', 'non', 'profile', '2016', 'databases']


Top 10 words for topic #2:
['weekly', 'performing', 'support', 'issues', 'reporting', 'platforms', 'various', 'related', 'hcm', 'involved']


Top 10 words for topic #3:
['knowledge', 'admin', 'support', 'working', 'peopletools', 'various', 'applications', 'linux', 'new', 'upgrade']


Top 10 words for topic #4:
['tier', 'users', 'performing', 'oracle', 'updates', 'troubleshooting', 'fixes', 'dba', 'performed', 'issues']

In [ ]:
topic_values = nmf.transform(doc_term_matrix)
data['Topic'] = topic_values.argmax(axis=1)
data.head()

,S.No,organization,Category,text,Topic
0,1,PeopleSoft,NaN,Anubhav Kumar Singh \n\n To work in a global...,3
1,2,PeopleSoft,NaN,Profile Summary: \n?7+ years of exper...,4
2,3,PeopleSoft,NaN,PeopleSoft Database Administrator\n ...,0
3,4,PeopleSoft,NaN,Murali\n\nExperience Summary \n\nI have 6 year...,2
4,5,PeopleSoft,NaN,"Priyanka Ramadoss\n61/46, MountPleasant, \nCoo...",1